<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../output.css">
  <title>Add Home</title>
</head>
<body class="flex flex-col justify-center">
  <h1 class="text-4xl bg-red-500 text-white font-bold flex justify-center shadow-2xl">House Details</h1>
  <div class="h-20"></div>
  <form action="/host/home_added" method="post" enctype="multipart/form-data"  class="p-5 flex justify-center flex-col max-w-xs    ">
    <input class=" text-black font-bold hover:border-2 border-red-500" type="text" placeholder="Enter house name" name="houseName"><br>
    <input class=" text-black font-bold hover:border-2 border-red-500" type="text" placeholder="Location" name="Location"><br>
    <input class=" text-black font-bold hover:border-2 border-red-500" type="number" placeholder="Rating" name="rating"><br>
    <input class=" text-black font-bold hover:border-2 border-red-500" type="number" placeholder="Price" name="price"><br>
    <input class=" text-black font-bold hover:border-2 border-red-500" type="file" accept="image/*" placeholder="choose file" name="ImageUrl"><br>
  <textarea class=" text-black font-bold hover:border-2 border-red-500"  placeholder="Description" name="description"></textarea><br>
    
    <input class=" text-black font-bold border-2 border-black rounded hover:cursor-pointer hover:bg-red-500 hover:text-white"  type="submit" value="submit">
  
  </form>
  
</body>
</html>